<!DOCTYPE html>
<html>
<head>
    <title>EXPRESS TS</title>
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/libs/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="/libs/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <h1>Permission denied</h1>
        <div class="row">
            <div class="col-12">
                <p>Permission denied. Please login or contact administrator to access this resource.</p>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>