<!DOCTYPE html>
<html>
<head>
    <title>EXPRESS TS</title>
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/libs/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="/libs/bootstrap/dist/css/bootstrap-reboot.min.css" rel="stylesheet" />
</head>
<body>
    <p>Hi</p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--
    <script src="/libs/popper.js/dist/popper-utils.min.js"></script>
    <script src="/libs/popper.js/dist/popper.min.js"></script>-->
    <script src="/js/popper.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>